* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    color: blanchedalmond;
}
/* styling header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: rgb(165, 165, 165);
    text-decoration: none;
    font-weight: 600;
}
/* styling navigation  */
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #f6ad46;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0px;
    transition: .5s;
}
.navbar a:hover {
    color: #aa1616;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(/Images/background-img-1.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p {
    font-size: 20px;

}

